<phpunit bootstrap="./tests/phpunit-bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory suffix=".test.php">./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Woodling/</directory>
        </whitelist>
    </filter>
</phpunit>
